@import "tailwindcss";

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #242424;
}

input::placeholder {
  color: #989898;
}

.emoji{
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}